
.icon-cross{background-image:url('ico/cross.png') !important;}
.icon-bullet_go{background-image:url('ico/bullet_go.png') !important;}
.icon-disk_submit{background-image:url('ico/disk_submit.png') !important;}
.icon-disk{background-image:url('ico/disk.png') !important;}
.icon-zoom{background-image:url('ico/zoom.png') !important;}
.icon-user{background-image:url('ico/user.png') !important;}